name: CI de sitio Jekyll

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Construir el sitio en el contenedor jekyll/builder
      run: |
        docker run \
          -v ${{ github.workspace }}:/srv/jekyll \
          -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
          jekyll/builder:latest /bin/bash -c \
          "chmod -R 755 /srv/jekyll && jekyll build --future"

    - name: Subir artefacto del sitio
      uses: actions/upload-artifact@v4
      with:
        name: sitio-jekyll
        path: _site
