name: Mark stale issues and pull requests

on:
  schedule:
    - cron: '28 13 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'This issue has been marked as stale due to inactivity.'
          stale-pr-message: 'This pull request has been marked as stale due to inactivity.'
          stale-issue-label: 'no-activity-issue'
          stale-pr-label: 'no-activity-pr'
